
div.code-wrapper {
  text-align: center;
}

div.code-wrapper button {
  position: relative;
  bottom: 30px;
  font-size: 14px;
}



pre {
  text-align: left;
  padding: 0px 20px;
  position: relative;
  overflow: hidden;
}
pre textarea {
  position: fixed;
  width: 1;
  height: 1;
  padding: 0;
  border: 0;
  margin: 0;
  display: block;
}
pre code {
  position: relative;
  cursor: pointer;
}
pre:hover code::before {
  content: 'Auswählen oder Klicken zum Kopieren';
  right: 5px;
  font-size: .8em;
  color: #bbb;
  height: .5em;
  line-height: 0;
  position: absolute;
}
pre code:active {
  cursor: copy;
}
pre.collapsed .code-fade {
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0px -100px 100px -50px #fee inset;
  pointer-events: none;
}
pre.collapsed, pre.expanded {
  transition: all 1s ease;
}


pre.expanded + button::before {
  content: "einrollen";
}
pre.collapsed + button::before {
  content: "ausrollen";
}



code {
  font-family: monospace;
  font-size: 0.8em;
  color: #644;
  padding: 0px 5px;
}
pre code.hljs {
  padding-bottom: 30px;
}



.copyconfirmation {
  transform: translate(10px, -20px);
  pointer-events: none;
  position: fixed;
  z-index: 1;
  color: #bbb;
  opacity: 0;
}
.copyconfirmation.flash1 {
  animation: fader1 1s ease;
}
.copyconfirmation.flash2 {
  animation: fader2 1s ease;
}
@keyframes fader1 {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fader2 {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}
