nav {
  left: 0px;
  width: 160px;
  max-width: 160px;
  height: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
  flex: 1 6 20%;
  z-index: 1;
  box-sizing: border-box;
}
nav ul {
  padding: 0px 0px 0px 10px;
  border: 0px;
  margin: 0px;
  list-style: none;
  background-color: #edd;
}
nav ul li.highlight a {
  text-shadow: 0 0 5px #70f, 0 0 3px #fff;
}
nav ul li {
  border-bottom: 1px solid #abb;
}
nav ul li:hover {
  background-color: #fff;
  border: 2px solid #fbf;
  padding: 5px;
}
nav ul ul li {
  border-bottom: 0px;
  padding: 5px 0px;
}
