h2 a
  color: inherit


p
  padding: 20px 20px


img
  display: block
  margin: 0px auto
  max-width: 100%

h1
  color #004
  text-align: center
  font-size: 60px
  font-weight: 100
  padding: 60px 0px 100px 0px
h2
  color #006
  border-bottom: 1px solid #cdd
  font-weight: normal
  font-size: 40px
  padding: 40px 0px 20px 0px
  margin-bottom: 20px
h3
  color #008
  border-bottom: 1px solid #abb
  font-weight: normal
  font-size: 25px
  padding: 80px 0px 10px 20px



div.filetree
  background-color: #ccd
  position: relative
  margin: 0 20px
  padding: 2px
  ul
    list-style: none
    padding: 0 0
    flex: 1
    ul
      padding-left: 20px
      .filename:before
        content: '↳'
  li:nth-child(even)
    background-color: #def
  li:nth-child(odd)
    background-color: #cde
  li
    border: 0 solid #ccd
    border-width: 1 1 0 1
    li:nth-child(even)
      background-color: #ddeefb
    li:nth-child(odd)
      background-color: #d0e1f2
    div
      display: flex
    li
      li:nth-child(even)
        background-color: #d8e9f7
      li:nth-child(odd)
        background-color: #d4e5f4
  .filename
    font: small-caption
    font-size: .8em
    flex: 1 1
    color: #400
    &:hover
      color: #900
  span.filedescription
    padding-left: 10px
    flex: 1.5 1


ol, ul
  padding: 20px 20px
ul.ul
  list-style none
  padding 10px 20px 10px 10px
  ul
    background: transparent
  li
    background: linear-gradient(to right, transparent, #ddf, transparent 3px)
    margin: 5px
    padding-left: 5px
li p
  padding: 0

table
  font-size: .8em
  border-collapse: collapse
  color: inherit
  margin: 20px
  th
    background-color: #dde
  tr:nth-child(even)
    background-color: #eef
  tr:hover
    background-color: #eec
  th, td
    padding: 5px
    border 1px solid #ddd
  p
    padding 0px

div.info
  position: relative
  border: 1px solid #aaa
  background-color: #eee
  border-radius: 10px
  color: #888
  margin: 5px 20px
  padding: 5px 0px
div.info:before
  content: 'ℹ'
  position: absolute
  padding: 0 10
  right: 10px
  font-size: .8em
  border: 1px solid #ccc
  color: #ccc
  border-radius: 100px
  padding: 0 .4em
div.warning
  position: relative
  border: 1px solid #986
  background-color: #fec
  border-radius: 10px
  color: #986
  margin: 5px 20px
  padding: 5px 0px
div.warning:before
  content: '⚠'
  position: absolute
  padding: 0 10
  right: 10px
  font-size: .8em
  border: 1px solid #dca
  color: #dca
  border-radius: 100px
  padding: 0 .1em

iframe.inline
  border: 0px none transparent
  overflow: hidden
  width: 100%
