
h2 a
  color: inherit


p
  padding: 20px 20px


img
  display: block
  margin: 0px auto
  max-width: 100%


h1
  color: #06b
  text-shadow: 0 0 15px #70f, 0 0 3px #fff
  text-align: center
  font-size: 60px
  font-weight: 100
  padding: 60px 0px 100px 0px
h2
  color: #018
  border-bottom: 1px solid #cdd
  text-shadow: 0 0 15px #707, 0 0 2px #fff
  font-weight: normal
  font-size: 40px
  padding: 40px 0px 20px 0px
  margin-bottom: 20px
h3
    color: #018
    border-bottom: 1px solid #abb
    font-weight: normal
    font-size: 25px
    padding: 80px 0px 10px 20px

div.filetree
  background-color: #dcc
  position: relative
  margin: 0 20px
  padding: 2px
  ul
    list-style: none
    padding: 0 0
    flex: 1
    ul
      padding-left: 20px
      .filename:before
        content: '↳'
  li
    border: 0 solid #dcc
    border-width: 1 1 0 1
    li:nth-child(even)
      background-color: #fbeedd
    li:nth-child(odd)
      background-color: #f2e1d0
    div
      display: flex
    li
      li:nth-child(even)
        background-color: #f7e9d8
      li:nth-child(odd)
        background-color: #f6e5d4
  li:nth-child(even)
    background-color: #fed
  li:nth-child(odd)
    background-color: #edc
  .filename
    font: small-caption
    font-size: .8em
    color: #400
    flex: 1 1
    &:hover
      color: #900
  span.filedescription
    padding-left: 10px
    flex: 1.5 1

ul, ol
    padding: 20px 20px
ul
    list-style: inside circle none
li
    list-style: inherit
li p
  display: inline
  padding: 0


table
  border-collapse: collapse
  margin: 20px
th
  background-color: #baa
tr:nth-child(even)
  background-color: #edd
tr:hover
  background-color: #fbf
th, td
  padding: 5px
td, th
  border: 1px solid grey

div.info
  position: relative
  border: 1px solid #aaa
  background-color: #eee
  border-radius: 10px
  color: #888
  margin: 5px 20px
  padding: 5px 0px
div.info:before
  content: 'ℹ'
  position: absolute
  padding: 0 10
  right: 10px
  font-size: .8em
  border: 1px solid #ccc
  color: #ccc
  border-radius: 100px
  padding: 0 .4em
div.warning
  position: relative
  border: 1px solid #986
  background-color: #fec
  border-radius: 10px
  color: #986
  margin: 5px 20px
  padding: 5px 0px
div.warning:before
  content: '⚠'
  position: absolute
  padding: 0 10
  right: 10px
  font-size: .8em
  border: 1px solid #dca
  color: #dca
  border-radius: 100px
  padding: 0 .1em
