$clear
  color: inherit
  line-height: inherit
  padding: 0
  background-color: inherit
  border: none
  font-size: 100%
  font-weight: normal
  font-family: inherit
  &:before
    content: none

.linker
  textarea
    margin: 5px
    padding: 5px
  .linker_filetree
    display: flex
    font-size: 30px
    ul
      padding 5px 0px
      margin-left 20px
      list-style-type none
      font-size: .7em
      &:hover
        font-size 1em
      li
        display: flex
        font-size: .7em
        &:hover
          font-size: 1em
        a
          min-width 150px
  .searchresults
    list-style-type: none
    li
      margin: 5px 0px
      a
        display: block
        background-color: #eee
        color: #000
        .weight
          padding 5px
          width: 30px
          display: inline-block
          font-size: 12px
          font-weight: bold
        .filename
          margin-left: 10px
          color: #888
        .keyword
          color: #558
        .context
          display: inline-block
          width: 60%
          span
            &.Header_L1
              text-shadow: 0 0 1px #000
              font-weight: bold
            &.Header_L2
              text-shadow: 0 0 1px #000
            &.Header_L3
              font-weight: bold
            &.Apielement
              @extends $clear
              color: #600
            &.Terminal
              @extends $clear
              font-family: monospace
            &.Path
              font-size: 0.9em
            &.Key
              min-width: 1em
              padding: .2em .3em
              margin: .1em
              font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif
              border-radius: .3em
              background: rgb(250, 250, 250)
              background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255))
              background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)))
              color:  rgb(50, 50, 50)
              text-shadow: 0 0 2px rgb(255, 255, 255)
              box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9)
            &.Warning
              @extends $clear
              background-color: #fec
              border-radius: 5px
              color: #986
            &.Info
              @extends $clear
              background-color: #e8e8e8
              border-radius: 5px
              color: #888
            &.hit
              background-color: #ccf
              box-shadow: 0 0 2px #ccf
              border-radius: 5px
