.linker
  textarea
    margin: 5px
    padding: 5px
  .linker_filetree
    display: flex
    font-size: 30px
    ul
      padding 5px 0px
      margin-left 20px
      list-style-type none
      font-size: .7em
      &:hover
        font-size 1em
      li
        display: flex
        font-size: .7em
        &:hover
          font-size: 1em
        a
          min-width 150px
  .searchresults
    list-style-type: none
    li
      margin: 5px 0px
      a
        display: block
        background-color: #eee
        color: #000
        .weight
          padding 5px
          width: 30px
          display: inline-block
          font-size: 12px
          font-weight: bold
        .filename
          margin-left: 10px
          color: #888
        .keyword
          color: #558
        .context
          display: inline-block
          width: 60%
