
.hover_span
  position: relative

.hover_span img
  display: none

.hover_span:hover img
  position: absolute
  display: block
  max-width: none
  z-index: 1

a
  color: #447


em
  color: #663


span.apielement
  color: #e55
  font-family: monospace
  font-weight: bold
  font-size: 0.9em
  background-color: rgba(221, 221, 221, .5)
  padding: 0px 5px
  border-radius: 10px

/*copied from https://github.com/michaelhue/keyscss*/
kbd span.keystroke
  display: inline
  display: inline-block
  min-width: 1em
  padding: .2em .3em
  margin: .1em
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif
  text-align: center
  text-decoration: none
  border-radius: .3em
  border: none
  cursor: default
  user-select: none

  background: rgb(250, 250, 250)
  background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255))
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)))
  color:  rgb(50, 50, 50)
  text-shadow: 0 0 2px rgb(255, 255, 255)
  -moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9)
  -webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9)
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9)

kbd span.keystroke[title]
  cursor: help

span.brand
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif
  text-shadow: 1px 1px rgb(170, 170, 170)

span.path
  font: small-caption
  font-size: .8em
  color: #000
  white-space: nowrap


span.terminal
  background-color: #300a24
  color: #ffffff
  font-family: monospace
  font-size: .7em
  padding: .2em

span.terminal::before
  content: '> '


span.info
  border: 1px solid #aaa
  background-color: #eee
  border-radius: 10px
  color: #888
  &:before
    content: 'ℹ'
    font-size: .8em
    border: 1px solid #ccc
    color: #ccc
    border-radius: 100px
    padding: 0 .1em

span.warning
  background-color: #fec
  border-radius: 10px
  color: #986
  &:before
    content: '⚠'
    font-size: .8em
    border: 1px solid #dca
    color: #dca
    border-radius: 100px
    padding: 0 .1em

span.fit
  > .fititem
    transition-duration: .5s
    font-size: 1px
  &:hover > .fititem, &.active > .fititem
    font-size: 1em


iframe
  border: 1px solid green
