nav
  left: 0px
  width: 160px
  max-width: 160px
  height: 100%
  padding: 0px
  border: 0px
  margin: 0px
  flex: 1 6 20%
  z-index: 1
  box-sizing: border-box
  ul
    padding: 0px 0px 0px 10px
    border: 0px
    margin: 0px
    list-style: none
    background-color: #edd
    li.highlight
      text-shadow: 0 0 5px #70f, 0 0 3px #fff
    li
      border-top: 1px solid #abb
    li a
      cursor: default
    li:hover
      background-color: #fff
      border: 2px solid #fbf
      padding: 5px
    ul li
      border: none
      padding: 5px 0px

article
  position: relative
  .pilcrow
    display: block
    width: 0
    height: 0
    position: relative
    color: rgba(1,1,1,.1)
    &:hover
      color: rgba(1,1,1,1)
