nav
  left: 0px
  width: 160px
  max-width: 160px
  height: 100%
  padding: 0px
  border: 0px
  margin: 0px
  flex: 1 6 20%
  z-index: 1
  box-sizing: border-box
  ul
    cursor: pointer
    padding: 0
    list-style: none
    li
      background: linear-gradient(to right, transparent 60%, #dde)
      padding: 2px 0 2px 5px
      &.highlight
        background: linear-gradient(to right, #dde, transparent 40%)
      a
        cursor: default
      &:hover
        background: linear-gradient(to right, transparent, #dde)
    ul
      font-size: .8em
      li
        padding-left: 15px
        border: none


article
  position: relative
  .pilcrow
    display: block
    width: 0
    height: 0
    position: relative
    color: rgba(1,1,1,.1)
    &:hover
      color: rgba(1,1,1,1)
  div
    transition-duration: .5s
    transition-property: transform
  div.distant_view
    transform: scale(.25)
